//initialization

@font-face {
    font-family: "Oswald";
    src: url("../../../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf")
        format("truetype");
}

@font-face {
    font-family: "Noto_Sans";
    src: url("../../../assets/fonts/Noto_Sans-Oswald/Noto_Sans/NotoSans.ttf")
        format("truetype");
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

// Colors

$primary: #f0f0f0;
$secondary: #292929;
$tertiary: #d71c10;

// Typography

$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1rem;
$p-font-size: 0.8rem;

//Themes

.theme-light {
    background-color: $primary;
}

.theme-dark {
    background-color: $secondary;
}

// Communs

// Navbar

header {
    background-color: #000;
    width: 100%;

    p {
        color: #fff;
        text-align: center;
        font-family: "Oswald";
        font-size: $p-font-size;
        padding: 0.2em;
    }

    nav.navbar {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 2em 0 2em;
        div {
            display: flex;
            text-align: center;
            align-items: center;
        }

        div.left,
        div.right {
            gap: 1em;
        }

        img {
            height: 40px;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

        img.iconLogo {
            height: 5rem;
            width: auto;
        }

        h1 {
            font-family: "Oswald";
            cursor: pointer;
        }
    }
}

// Carroussel

main {
    article.carousel {
        background-color: white;
        div.slider {
            width: 100dvw;
            max-width: 100dvw;
            height: 85dvh;
            margin: auto;
            position: relative;
            overflow: hidden;
        }
        div.carouselList {
            position: absolute;
            width: max-content;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            transition: 1s;
        }
        div.carouselList img {
            width: 100dvw;
            max-width: 100dvw;
            height: 100%;
            object-fit: cover;
        }
        div.carouselBtn {
            position: absolute;
            top: 45%;
            left: 5%;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
        div.carouselBtn button {
            width: 25px;
            height: 25px;
            background-color: black;
            color: white;
            border: none;
            font-family: "Oswald";
            cursor: pointer;
            border: 1px white solid;
        }
        ul.dots {
            position: absolute;
            bottom: 10px;
            color: white;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        ul.dots li {
            list-style: none;
            width: 10px;
            height: 10px;
            background-color: white;
            margin: 20px;
            transition: 1s;
            cursor: pointer;
            background-color: black;
            border: 1px white solid;
        }
        ul.dots li.active {
            width: 30px;
            background-color: $tertiary;
        }
    }
}

@media screen and (max-width: 1080px) {
    header {
        nav.navbar {
            padding: 0 1em 0 1em;
            background-color: #fff;
            display: flex;
            text-align: center;
            align-items: center;

            img {
                height: 30px;
            }

            img.iconLogo {
                height: 3rem;
                width: auto;
            }

            h1 {
                display: none;
            }
        }
    }
}
